
.nav-link{
    margin: 20px;
    background-color: #E3CAA5;
    border-radius: 8px;
}
.btn-outline-success{
    color: black;
    background-color: #E3CAA5;
    border: #E3CAA5;
}
.crear-inicio{
    display: flex;
    flex-direction: row;
}

.crear-cuenta{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.col{
    margin-top: 10px;
}

.container-section{
    background-color: #F5EFE7;
    margin-top: 10px;
    padding: 20px;
}
.img-card{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}
.pie-de-pagina{
    background-color: #F5EFE7;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.pie-de-pagina p{
    align-items: center;
    align-content:center ;
    margin-top: 5px;
}




