
.nav-link{
    margin: 20px;
    background-color: #E3CAA5;
    border-radius: 8px;
}
.btn-outline-success{
    color: black;
    background-color: #E3CAA5;
    border: #E3CAA5;
}
.crear-inicio{
    display: flex;
    flex-direction: row;
}

.crear-cuenta{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.col{
    margin-top: 10px;
}

.container-section{
    background-color: #F5EFE7;
    margin-top: 10px;
    padding: 20px;
}
.img-card{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}
.titulo-inicio{
display: flex;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
margin-top: 10px;
font-size: 25px;
color: #e2bf8a;
text-decoration-line:underline;
}

.card a {
display: flex;
justify-content: center;
text-align: center;
text-decoration: none;
color: black;
}
.pie-de-pagina{
    background-color: #F5EFE7;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.pie-de-pagina p{
    align-items: center;
    align-content:center ;
    margin-top: 5px;
}

.row-inicio{
display: flex;
}
.row{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    width: 330px;
}
.contactos-h3 h3{
    font-size: 10px;
}
.link-wp a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.container-contacto{
    display: inline-block;
    justify-content: center;
    margin-left: 250px;
    margin-top: -180px;
    width: 500px;
}
.boton-contactos{
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo-av{
    margin: 20px;
    font-size: 17px; 
}

.titulito {
    background-color: #E3CAA5;
    display: flex;
    justify-content: center;
    width: 260px;
    
    margin: 10px;
}
.titulito h3{
   
    font-size: 20px;
    text-align: center;
}
.texto-turnero{
    margin: 20px;
}

.turnero-form{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    /*align-items:flex-start;
    align-content: flex-start;
    text-align: end;*/
    margin: 10px;
    margin-top: -10px;
    /*border: 1px solid black;*/
}
.formulario{
    margin:20px;
}
.formulario-in{
    margin-top: -20px;
}
.boton{
    margin: 10px;
    background-color: #E3CAA5;
    border: #E3CAA5;
}

.turno-sol{
    font-size: 15px;
}
.titulito-2{
 background-color: #E3CAA5;
    display: flex;
    justify-content: center;
    width: 280px;
    
    margin: 10px;   
}
.titulito-2 h2{
    font-size: 15px;
    margin-top: 5px;
}
.crear{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
}
.crear-1{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
font-size: 20px;
color: #E3CAA5;
margin-top: 20px; 
}

.crear-cuenta-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*carrito*/
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio, 
.carrito-comprado{
    color: black;
    /*display: none;*/
}
.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2bf8a;
    color: black;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}
.carrito-producto img{
    width: 4rem;
    border-radius: 1rem;
}
.carrito-producto small{
    font-size: .75rem;
}
.carrito-eliminar{
    border: 0;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.carrito-accion{
    display: flex;
    justify-content: space-between;
}

.oculto{
    display: none;
}
.numero{
    color: black;
    padding: .15rem .25rem;
    border-radius: .25rem;
}
.contenedor-productos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.class{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0. 0.2);
    max-width: 300px;
    margin:10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: #e2bf8a solid 1px;
    border-radius: 10px;
}

.class img{
    width: 90%;
    height: 250px;
}

.precio{
    color: black;
    font-size: 22px;
}
.class button {
    border-radius: 10px;
    border:  #e2bf8a;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: #e2bf8a;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.class button:hover{
    opacity: 0.7;
}


.carro-contenedor {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: black;
    background-color: #E3CAA5;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .carro-contenedor::-webkit-scrollbar {
    display: none;
  }
  .cuerpo-carro {
    display: flex;
    justify-content: space-around;
    background-color: #d16533;
    color: #fff;
    width: 100%;
  }
  
  .cuerpo-carro-titulo {
    justify-self: start;
  }
  
  .cuerpo-boton{
    cursor: pointer;
  }
  
  .carro-contenedor > .carrito-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
  }
  
  .carro-contenedor > div > img {
    height: 120px;
    width: 120px;
  }
  
  .total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
  }
  .delete-product  {
    cursor: pointer;
  }

  .ver-carrito{
    font-size: 25px;
  margin-right: 20px;
  margin-left: 750px;
  margin-top: 20px;
  cursor: pointer;
  }

  .cantidad-carrito {
    background-color: #E3CAA5;
    color:black;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
  }

  .titulo-principal{
    display: flex ;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: #E3CAA5;
    text-decoration-line:underline;
  }

  .restar{
    cursor: pointer;
  }
  .sumar{
    cursor: pointer;
  }